.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__content {
    height: 100%;
    background-color: var(--p-content-background);
    border-radius: 1rem;
    padding: 1.25rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__panel {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        & > div {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          min-width: 210px;
        }
      }

      &__actions {
        display: flex;
        align-items: center;
        gap: 16px;

        & > span {
          color: var(--p-form-field-disabled-color);
        }
      }
    }

    &__follow {
      display: flex;
      align-items: center;
      gap: 12px;
      padding-bottom: 12px;
    }

    &__logs {
      padding: 24px;
      border-radius: 1rem;
      background-color: black;
      height: 300px;
      overflow: auto;
      scroll-behavior: smooth;

      & > pre {
        color: whitesmoke;
        margin: 0;
      }
    }
  }
}
