.create {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 412px;

  &__mode {
    display: flex;
    gap: 16px;

    & > p-button {
      width: 100%;

      &::ng-deep {
        & > button {
          width: 100%;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > p-floatlabel {
      width: 100%;

      & > p-select {
        width: 100%;
      }

      &::ng-deep {
        & > input {
          width: 100%;
        }
      }
    }

    &__template {
      &__item {
        display: flex;
        flex-direction: column;
        gap: 2px;
        max-width: 378px;
        overflow: hidden;

        &__title {
          display: flex;
          gap: 8px;
        }

        &__description {
          color: var(--p-card-subtitle-color);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
  }
}
