<div class="create">
  <div class="create__mode">
    <p-button
      label="Repository"
      [severity]="
        appForm.controls.mode.value === 'REPOSITORY' ? 'primary' : 'secondary'
      "
      (click)="appForm.controls.mode.setValue('REPOSITORY')"
      icon="pi pi-cloud-download"
    ></p-button>
    <p-button
      label="Image"
      [severity]="
        appForm.controls.mode.value === 'IMAGE' ? 'primary' : 'secondary'
      "
      (click)="appForm.controls.mode.setValue('IMAGE')"
      icon="pi pi-box"
    ></p-button>
    <p-button
      label="Template"
      [severity]="
        appForm.controls.mode.value === 'TEMPLATE' ? 'primary' : 'secondary'
      "
      (click)="appForm.controls.mode.setValue('TEMPLATE')"
      icon="pi pi-palette"
    ></p-button>
  </div>
  <div class="create__form">
    <p-floatlabel variant="on">
      <input
        [formControl]="appForm.controls.name"
        pInputText
        id="name"
        autocomplete="off"
      />
      <label for="name">Name</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input
        [formControl]="appForm.controls.description"
        pInputText
        id="description"
        autocomplete="off"
      />
      <label for="description">Description</label>
    </p-floatlabel>
    @if (appForm.controls.mode.value === 'REPOSITORY') {
    <p-floatlabel variant="on">
      <input
        [formControl]="appForm.controls.repository"
        pInputText
        id="repository"
        autocomplete="off"
      />
      <label for="repository">Repository</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input
        [formControl]="appForm.controls.branch"
        pInputText
        id="branch"
        autocomplete="off"
      />
      <label for="branch">Branch</label>
    </p-floatlabel>
    } @else if (appForm.controls.mode.value === 'IMAGE') {
    <p-floatlabel variant="on">
      <input
        [formControl]="appForm.controls.image"
        pInputText
        id="image"
        autocomplete="off"
      />
      <label for="image">Image</label>
    </p-floatlabel>
    } @else if (appForm.controls.mode.value === 'TEMPLATE') {
    <p-floatlabel variant="on">
      <p-select
        [filter]="true"
        [appendTo]="'body'"
        [overlayOptions]="{ styleClass: 'create__form__template' }"
        [options]="templates()"
        optionLabel="name"
        optionValue="name"
        [formControl]="appForm.controls.template"
        id="template"
      >
        <ng-template let-template #item>
          <div class="create__form__template__item">
            <div class="create__form__template__item__title">
              <img [src]="template.icon" style="width: 18px" />
              <div>{{ template.name }}</div>
            </div>
            <div class="create__form__template__item__description">
              {{ template.description }}
            </div>
          </div>
        </ng-template>
      </p-select>
      <label for="Template">Template</label>
    </p-floatlabel>
    }
  </div>
  <div class="create__actions">
    <p-button [disabled]="!appForm.valid" (click)="ref.close(appForm.value)"
      >Create</p-button
    >
    <p-button severity="secondary" (click)="ref.close(false)">Cancel</p-button>
  </div>
</div>
