<div class="password">
  <p-message severity="warn"
    >The password change will take action immediately</p-message
  >
  <div class="password__form">
    <p-floatlabel variant="on">
      <p-password
        [toggleMask]="true"
        [formControl]="passwordForm"
        [feedback]="false"
        id="password"
      ></p-password>
      <label for="password">Password</label>
    </p-floatlabel>
  </div>
  <div class="password__actions">
    <p-button
      [disabled]="!passwordForm.valid"
      (click)="ref.close(passwordForm.value)"
      >Save</p-button
    >
    <p-button severity="secondary" (click)="ref.close(false)">Cancel</p-button>
  </div>
</div>
