<div class="volumes">
  <h1>Volumes</h1>
  <div class="volumes__content">
    @if (app()?.status === 'running') {
    <p-message severity="warn"
      >Any changes made to a running app require a full restart</p-message
    >
    } @if (volumesForm.controls.length) {
    <div class="volumes__content__list">
      @for (volume of volumesForm.controls; track $index) {
      <div class="volumes__content__list__item">
        <div class="volumes__content__list__item__form">
          <div>
            <p-floatlabel variant="on">
              <label>Host</label>
              <input
                pInputText
                [formControl]="volume.controls.host"
                autocomplete="off"
              />
            </p-floatlabel>
          </div>
          <div>
            <p-floatlabel variant="on">
              <label>Internal</label>
              <input
                pInputText
                [formControl]="volume.controls.internal"
                autocomplete="off"
              />
            </p-floatlabel>
          </div>
        </div>
        <div class="volumes__content__list__item__actions">
          <p-button
            (click)="deleteVolume($index)"
            size="large"
            severity="danger"
            icon="pi pi-trash"
          />
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="volumes__content__empty">
      <i class="pi pi-box"></i>
      <span>No volumes</span>
    </div>
    }
    <div class="volumes__content__spacer"></div>
    <div class="volumes__content__actions">
      <p-button
        (click)="addVolume()"
        severity="secondary"
        label="Add volume"
      ></p-button>
      <div>
        @if (isSaved() === false) {
        <span>There are unsaved changes</span>
        }
        <p-button
          (click)="saveVolumes()"
          [disabled]="!volumesForm.valid || isSaved() || saving()"
          label="Save"
        ></p-button>
      </div>
    </div>
  </div>
</div>
