.apps {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    overflow: auto;

    &__item {
      cursor: pointer;
      user-select: none;

      &::ng-deep {
        .p-card-title {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
      &__description {
        margin: 0;
      }
    }
  }

  &__loading {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
  }
}
