<div class="apps">
  <h1>Applications</h1>
  @if (apps()) {
  <div class="apps__list">
    @for (app of apps(); track app.id) {
    <p-card class="apps__list__item">
      <ng-template #title>{{ app.name }}</ng-template>
      <ng-template #subtitle>{{ app.branch }}</ng-template>
      <p class="apps__list__item__description">{{ app.description ?? "-" }}</p>
    </p-card>
    }
  </div>
  } @else {
  <div class="apps__loading">
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
  </div>
  }
</div>
