<div class="apps">
  <div class="apps__header">
    <h1>Applications</h1>
    <p-button (click)="createApp()" size="small" label="Create new"></p-button>
  </div>
  @if (apps()) { @if (apps()?.length) {
  <div class="apps__list">
    @for (app of apps(); track app.id) {
    <p-card (click)="goToApp(app.id)" class="apps__list__item">
      <ng-template #title>
        {{ app.name }}
        <p-badge
          [severity]="
            app.status === 'running'
              ? 'success'
              : app.status === 'restarting'
              ? 'warn'
              : 'danger'
          "
        ></p-badge>
      </ng-template>
      <ng-template #subtitle>
        @if (app.mode === "REPOSITORY") {
        <div>{{ app.repository }} - {{ app.branch }}</div>
        } @else {
        <div>{{ app.image }}</div>
        }
      </ng-template>
      <p class="apps__list__item__description">{{ app.description ?? "-" }}</p>
    </p-card>
    }
  </div>
  } @else {
  <div class="apps__empty">
    <i class="pi pi-box"></i>
    <span>Create your first app to start!</span>
    <p-button (click)="createApp()" size="small" label="Create new"></p-button>
  </div>
  } } @else {
  <div class="apps__loading">
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
    <p-skeleton height="120px" />
  </div>
  }
</div>
