<div class="detail">
  <div class="detail__menu">
    <div>
      <div class="detail__menu__info">
        @if (app()) {
        <div class="detail__menu__info__title">
          <h2>{{ app()?.name }}</h2>
        </div>
        <div class="detail__menu__info__status">
          <p-badge
            [value]="
              app()?.status === 'running'
                ? 'Running'
                : app()?.status === 'restarting'
                ? 'Restarting'
                : 'Stopped'
            "
            [severity]="
              app()?.status === 'running'
                ? 'success'
                : app()?.status === 'restarting'
                ? 'warn'
                : 'danger'
            "
          />
          @if (building()) {
          <p-badge [value]="'Building'" [severity]="'warn'" />
          }
        </div>
        <span>{{ app()?.description ?? "-" }}</span>
        <div class="detail__menu__info__actions">
          @if (app()?.status === 'running' || app()?.status === 'restarting') {
          <p-button
            [disabled]="waiting()"
            (click)="stopApp()"
            severity="secondary"
            icon="pi pi-pause"
          />
          } @else {
          <p-button
            [disabled]="waiting()"
            (click)="startApp()"
            severity="secondary"
            icon="pi pi-play"
          />
          } @if (app()?.mode === "REPOSITORY") {
          <p-button
            [disabled]="waiting()"
            (click)="createBuild()"
            severity="secondary"
            icon="pi pi-hammer"
          />
          }
        </div>
        } @else {
        <p-skeleton height="24px"></p-skeleton>
        <p-skeleton height="19.5px"></p-skeleton>
        <div class="detail__menu__info__actions">
          <p-skeleton height="34px" width="40px"></p-skeleton>
          <p-skeleton height="34px" width="40px"></p-skeleton>
        </div>
        }
      </div>
      <div class="detail__menu__spacer"></div>
      <p-button
        [routerLink]="['/apps', app()?.id]"
        label="Home"
        [severity]="route() === undefined ? 'primary' : 'secondary'"
        icon="pi pi-home"
      ></p-button>
      @if (app()?.mode === 'REPOSITORY') {
      <p-button
        [routerLink]="['/apps', app()?.id, 'builds']"
        label="Builds"
        [severity]="route() === 'builds' ? 'primary' : 'secondary'"
        icon="pi pi-hammer"
      ></p-button>
      }
      <p-button
        [routerLink]="['/apps', app()?.id, 'volumes']"
        label="Volumes"
        [severity]="route() === 'volumes' ? 'primary' : 'secondary'"
        icon="pi pi-box"
      ></p-button>
      <p-button
        [routerLink]="['/apps', app()?.id, 'ports']"
        label="Ports"
        [severity]="route() === 'ports' ? 'primary' : 'secondary'"
        icon="pi pi-link"
      ></p-button>
      <p-button
        [routerLink]="['/apps', app()?.id, 'variables']"
        label="Variables"
        [severity]="route() === 'variables' ? 'primary' : 'secondary'"
        icon="pi pi-key"
      ></p-button>
      <p-button
        [routerLink]="['/apps', app()?.id, 'networks']"
        label="Networks"
        [severity]="route() === 'networks' ? 'primary' : 'secondary'"
        icon="pi pi-sitemap"
      ></p-button>
      <p-button
        [routerLink]="['/apps', app()?.id, 'labels']"
        label="Labels"
        [severity]="route() === 'labels' ? 'primary' : 'secondary'"
        icon="pi pi-tag"
      ></p-button>
    </div>
    <div>
      <div class="detail__menu__spacer"></div>
      <p-button
        [disabled]="!app()"
        (click)="deleteApp()"
        label="Delete app"
        severity="danger"
        icon="pi pi-trash"
      ></p-button>
    </div>
  </div>
  <div class="detail__content">
    <router-outlet></router-outlet>
  </div>
</div>
