<div class="detail">
  <div class="detail__menu">
    <div>
      <div class="detail__menu__info">
        @if (app()) {
        <div class="detail__menu__info__title">
          <h2>{{ app()?.name }}</h2>
          <p-badge
            [severity]="app()?.status === 'running' ? 'success' : 'danger'"
          />
        </div>
        <span>{{ app()?.description ?? "-" }}</span>
        <div class="detail__menu__info__actions">
          @if (app()?.status === 'running') {
          <p-button
            [disabled]="waiting()"
            (click)="stopApp()"
            severity="secondary"
            icon="pi pi-pause"
          />
          } @else {
          <p-button
            [disabled]="waiting()"
            (click)="startApp()"
            severity="secondary"
            icon="pi pi-play"
          />
          }
          <p-button
            [disabled]="waiting()"
            severity="secondary"
            icon="pi pi-hammer"
          />
        </div>
        } @else {
        <p-skeleton height="24px"></p-skeleton>
        <p-skeleton height="19.5px"></p-skeleton>
        <div class="detail__menu__info__actions">
          <p-skeleton height="34px" width="40px"></p-skeleton>
          <p-skeleton height="34px" width="40px"></p-skeleton>
        </div>
        }
      </div>
      <div class="detail__menu__spacer"></div>
      <p-button
        label="Home"
        [severity]="route() === undefined ? 'primary' : 'secondary'"
        icon="pi pi-home"
      ></p-button>
      <p-button
        label="Builds"
        [severity]="route() === 'builds' ? 'primary' : 'secondary'"
        icon="pi pi-hammer"
      ></p-button>
      <p-button
        label="Volumes"
        [severity]="route() === 'volumes' ? 'primary' : 'secondary'"
        icon="pi pi-box"
      ></p-button>
      <p-button
        label="Ports"
        [severity]="route() === 'ports' ? 'primary' : 'secondary'"
        icon="pi pi-link"
      ></p-button>
      <p-button
        label="Variables"
        [severity]="route() === 'variables' ? 'primary' : 'secondary'"
        icon="pi pi-key"
      ></p-button>
    </div>
    <div>
      <div class="detail__menu__spacer"></div>
      <p-button
        label="Dangerous zone"
        severity="danger"
        icon="pi pi-trash"
      ></p-button>
    </div>
  </div>
  <div class="detail__content">
    <router-outlet></router-outlet>
  </div>
</div>
