.ports {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 585px;

  &__content {
    height: 100%;
    background-color: var(--p-content-background);
    border-radius: 1rem;
    padding: 1.25rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 1rem;
      height: 100%;
      overflow: auto;

      &__item {
        display: flex;
        gap: 48px;
        align-items: flex-end;

        &__form {
          display: flex;
          gap: 12px;

          & > div {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }

    &__empty {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      justify-content: center;
      align-items: center;

      & > i {
        font-size: 20px;
      }
    }

    &__spacer {
      margin: 2px;
      border: 1px solid white;
      background-color: white;
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      & > div {
        display: flex;
        align-items: center;
        gap: 16px;

        & > span {
          color: var(--p-form-field-disabled-color);
        }
      }
    }
  }
}
