<div class="builds">
  <h1>Builds</h1>
  <div class="builds__content">
    <div class="builds__content__logs">
      <router-outlet></router-outlet>
    </div>
    <div class="builds__content__list">
      @if (builds()) { @if (builds()?.length) { @for (build of builds(); track
      build.id) {
      <p-button
        [routerLink]="['/apps', app()?.id, 'builds', build.id]"
        [severity]="selectedBuild() === build.id ? 'primary' : 'secondary'"
      >
        <div class="builds__content__list__item">
          <i class="pi pi-hammer"></i>
          <span>{{ build.createdAt | date : "dd/MM/yyyy HH:mm" }}</span>
          <p-button
            [severity]="
              build.status === 'SUCCESS'
                ? 'success'
                : build.status === 'FAILED'
                ? 'danger'
                : 'warn'
            "
            size="small"
            [rounded]="true"
            class="builds__content__list__item__status"
            >{{ build.status }}</p-button
          >
        </div>
      </p-button>
      }} @else {
      <p-button
        (click)="createBuild()"
        label="Build now"
        icon="pi pi-hammer"
        severity="contrast"
        [disabled]="waiting()"
      ></p-button>
      } } @else {
      <p-skeleton height="44px"></p-skeleton>
      <p-skeleton height="44px"></p-skeleton>
      <p-skeleton height="44px"></p-skeleton>
      <p-skeleton height="44px"></p-skeleton>
      <p-skeleton height="44px"></p-skeleton>
      <p-skeleton height="44px"></p-skeleton>
      <p-skeleton height="44px"></p-skeleton>
      }
    </div>
  </div>
</div>
