/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all !important;
}

.p-toast {
  max-width: calc(100% - 40px);
}
