.dashboard {
  display: flex;
  padding: 1.5rem;
  gap: 1.5rem;
  height: 100%;

  @media (max-width: 550px) {
    flex-direction: column;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1.25rem;
    height: 100%;
    background-color: var(--p-content-background);

    @media (max-width: 550px) {
      flex-direction: row;
      height: fit-content;
      align-items: center;
      gap: 1rem;
    }

    &__group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      @media (max-width: 550px) {
        flex-direction: row;
        height: fit-content;
        align-items: center;
        gap: 1rem;

        &:last-child {
          width: 100%;
        }
      }

      &__logo {
        width: 40px;
        margin-bottom: 22px;

        @media (max-width: 550px) {
          margin-bottom: 0;
        }
      }

      & > p-button {
        &::ng-deep {
          button {
            height: 40px;
          }
        }
      }

      &__spacer {
        width: 100%;
        margin: 10px 0;
        border: 1px solid white;
      }

      & > p-avatar {
        min-height: 37.5px;
        min-width: 37.5px;
      }
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
